################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/proyecto2/FileContentIndex/3987f2c1-8572-46ad-85d9-49c7dc44013f.vsidx
/.vs/proyecto2/FileContentIndex/766d2ca6-a042-4ffa-84dd-0283fb604fc1.vsidx
/.vs/proyecto2/FileContentIndex/fdc487d4-d3ca-42f4-9945-fc81e660b108.vsidx
/.vs/proyecto2/FileContentIndex/6047aa71-1300-4688-8dc7-d1619f344332.vsidx
/.vs/proyecto2/FileContentIndex/a91f2e48-47d3-4e4f-a316-98a0a0886b47.vsidx
/.vs/proyecto2/FileContentIndex/d8744bb0-0462-47b4-a0e4-b8e5f7a4bfe4.vsidx
/.vs/proyecto2/FileContentIndex/d93055b0-010e-46dc-b764-fcbd2875394e.vsidx
/.vs/proyecto2/FileContentIndex/105e3ff7-8b11-48fd-b4e1-3ee02b1f6161.vsidx
/.vs/proyecto2/FileContentIndex/579ff159-ddf1-4fb0-8ff0-93f339778ba0.vsidx
/.vs/proyecto2/FileContentIndex/9579a2db-d1c6-44e3-8ea6-73c11cd2158a.vsidx
/.vs/proyecto2/FileContentIndex/a2c0c129-acbe-473d-a8cf-64023e26d107.vsidx
/.vs/proyecto2/FileContentIndex/b7f6e910-3abf-4712-bc68-a3ffbea04737.vsidx
/.vs/proyecto2/FileContentIndex/13fec003-8024-460a-9e15-2f6fb6b6de97.vsidx
/.vs/proyecto2/FileContentIndex/cc354d93-83d5-4e41-8526-93cacc8ab573.vsidx
/.vs/proyecto2/FileContentIndex/fcd740cc-f29f-46e2-a8cb-29364256196c.vsidx
/.vs/proyecto2/FileContentIndex/80d104a1-0e91-4cb5-94b2-8b469c8b4346.vsidx
