################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/proyecto2/FileContentIndex/3987f2c1-8572-46ad-85d9-49c7dc44013f.vsidx
/.vs/proyecto2/FileContentIndex/766d2ca6-a042-4ffa-84dd-0283fb604fc1.vsidx
/.vs/proyecto2/FileContentIndex/1fd8d00f-389e-4338-9db1-3b56ad92f3c2.vsidx
