@using proyecto2.Models.ViewModel
@model CuestionarioHR

@{
    ViewData["Title"] = "Crear Cuestionario";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<link href="~/css/pages.css" />
    <h5 class="modal-title" id="exampleModalLabel">Guarda Tu cuestionario Ahora</h5>
    <div class="modal-body">
        <div class="form-group">
            <select class="form-control" asp-items="ViewBag.IdCategoria"></select>


        </div>
        <label>Titulo</label>
        <div class="input-group-text">

            <input id="titulo"  class="input" />
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" />
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn btn-secondary">
            Cerrar
        </div>

        <button type="submit" id="CreateCuest" class="btn btn-primary">Save changes</button>
    </div>


@section Scripts {

    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // CreateOrEditCuest = form => {

        //     try {
        //         $.ajax({
        //             type: 'Post',
        //             url: form.action,
        //             data: new FormData(form),
        //             contentType: false,
        //             processData: false,
        //             success: function (res) {
        //                 $("#Modal-CrearCuestionario").modal('hide');
        //             },
        //             error: function (error) {
        //                 console.log(error);
        //             }
        //         })
        //     }
        //     catch (e) {
        //         console.log(e);
        //     }
        //     return false;
        // }


        $(document).ready(function () {
            $("#CreateCuest").click(async function (e) {
                e.preventDefault();
                var titulo = $("#titulo").val();
                var url = "@Url.Action("Create", "Cuestionarios")";
                var publico = false;
                var estado = false;
                var categoria = 1;
                var data = {
                    AgregarCuestionario: {
                        Titulo: titulo,
                        IdCategoria:2
                    }

                };
                $.post(url, data).done(function (result) {
                    if (result.success == true) {
                        $("#Modal-CrearCuestionario").modal('hide');
                    }
                    console.log(data)

                });
            });
        });


    </script>
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI/t1glM24sgjCWCW5R5FqYnKtO0lM6a6djfjWA=" crossorigin="anonymous"></script>
