@using proyecto2

@model CuestionarioHR

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
             
            </td>
  
            <td>
                
            </td>
            <td>
            
            </td>
            <td>

                   

                         
              <br>
                    
                </td>
        </tr>

    </tbody>
</table>
