@model proyecto2.Models.dbModels.Respuesta

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Respuesta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRespuesta" />
            <div class="form-group">
                <label asp-for="IdPregunta" class="control-label"></label>
                <select asp-for="IdPregunta" class="form-control" asp-items="ViewBag.IdPregunta"></select>
                <span asp-validation-for="IdPregunta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="respuesta" class="control-label"></label>
                <input asp-for="respuesta" class="form-control" />
                <span asp-validation-for="respuesta" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RCorrecta" /> @Html.DisplayNameFor(model => model.RCorrecta)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
